.wrapper-img{
    height: 30vh;
}
.icon-back{
    z-index: 1000;
    font-size: 1.5em;
    position: absolute;
    top:10px;
    left: 10px;
    left:10px;
    color:#fff;
    cursor: pointer;
}
.data-matter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.pointer{
    cursor:pointer;
}